/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status

# ignore gem builds in main director
*.gem
shiori.tar

# ignore history
.byebug_history

# environment files
/.env.*